<div class="bg-[#dddddd5e] w-full fixed inset-0 h-[100vh] py-5">
    <div class="relative p-5 md:px-10 m-auto w-[85%] md:w-2/3 rounded-2xl shadow-2xl text-[#111827] bg-white">
        <p class="text-lg md:text-xl lg:text-2xl font-bold">Import File</p>

        <img class="absolute top-0 right-1/4 w-[25%] z-0" src="../../../assets/images/logo-orange 1.png">

        <div class="relative z-10">
            <div class="flex justify-center">
                <label for="file-upload" class="cursor-pointer flex flex-col items-center border rounded-xl w-full md:w-1/2 md:p-7 px-12 lg:px-0 py-5 lg:py-10 my-4">
                    <img src="../../../assets/images/02 Add Photo.png" class="w-12">
                    <span class="bg-[#0665EC] text-white py-2 lg:py-4 w-full lg:w-[45%] lg:font-semibold text-xs md:text-sm rounded-lg my-2 md:my-4 text-center">Select Files CSV</span>
                    <p class="font-normal text-xs md:text-sm">or drag File here</p>
                </label>
                <input id="file-upload" type="file" class="hidden" />
            </div>
    
            <div class="my-3 overflow-x-auto rounded-2xl border border-[#EAECF0]">
                <table class="lg:w-full md:table-fixed table-auto bg-[#FFFFFF] text-center text-[#475467]">
                  <thead class="bg-[#F9FAFB]">
                    <tr>
                      <th class="py-3 w-1/12 min-w-[120px] whitespace-nowrap">
                        Day <i class="fa-solid fa-arrow-down mr-2"></i>
                      </th>
                      <th class="py-3 min-w-[120px] whitespace-nowrap">
                        Date <i class="fa-solid fa-arrow-down mr-2"></i>
                      </th>
                      <th class="py-3 min-w-[120px] whitespace-nowrap">
                        Clock In <i class="fa-solid fa-arrow-down mr-2"></i>
                      </th>
                      <th class="py-3 min-w-[120px] whitespace-nowrap">
                        Clock Out <i class="fa-solid fa-arrow-down mr-2"></i>
                      </th>
                      <th class="py-3 min-w-[120px] whitespace-nowrap">
                        Total Hours <i class="fa-solid fa-arrow-down mr-2"></i>
                      </th>
                      <th class="py-3 min-w-[120px] max-w-[150px] whitespace-nowrap overflow-hidden truncate text-ellipsis">
                        Location In <i class="fa-solid fa-arrow-down mr-2"></i>
                      </th>
                      <th class="py-3 min-w-[120px] max-w-[150px] whitespace-nowrap overflow-hidden truncate text-ellipsis">
                        Location Out <i class="fa-solid fa-arrow-down mr-2"></i>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- No Data Row -->
                    <tr *ngIf="tableData.length === 0">
                      <td colspan="7" class="px-4 py-2 h-[72px] text-center  border-t border-gray-300">
                        No Data Found
                      </td>
                    </tr>
              
                    <!-- Data Rows -->
                    <tr *ngFor="let row of tableData; let i = index"
                        [ngClass]="{'bg-[#F4F4F4]': i % 2 === 0, 'bg-white': i % 2 !== 0}" class="border-t border-gray-300">
                      <td class="py-5">{{ row.day }}</td>
                      <td>{{ row.date }}</td>
        
        
                      <td>
                        <div class="flex justify-center">
                          <div class="text-center w-[97px] rounded-[10px] border border-[#D0D5DD] bg-[#FFFFFF] py-[8px]">
                            {{ row.clockIn }}
                          </div>
                        </div>
                      </td>
        
                      
                      <td>
                        <div class="flex justify-center">
                          <div *ngIf="row.clockOut; else emptyState"
                              class="text-center w-[97px] rounded-[10px] border border-[#D0D5DD] bg-[#FFFFFF] py-[8px]">
                            {{ row.clockOut }}
                          </div>
                          <ng-template #emptyState>
                            <div class="w-[97px] h-[36px] rounded-[10px] border border-[#D0D5DD] bg-[#FFFFFF] px-[16px] py-[8px] flex items-center justify-center">
                              <div class="w-[50px] h-[1px] bg-[#475467]"></div>
                            </div>
                          </ng-template>
                        </div>
                      </td>
        
        
                      <td>{{ row.totalHours }}</td>
        
        
                      <td class="min-w-[120px] lg:max-w-[150px] overflow-hidden">
                        <div class="truncate" title="{{ row.locationIn }}">
                          {{ row.locationIn }}
                        </div>
                      </td>
        
                      <td class="min-w-[120px] lg:max-w-[150px] overflow-hidden">
                        <div *ngIf="row.locationOut; else emptyLocation"
                            >
                             <div class="truncate" title="{{ row.locationOut }}">
                                {{ row.locationOut }}
                              </div>
                         </div>
        
                        <ng-template #emptyLocation>
                          <div class="flex justify-center">
                          <div class="w-[90%] h-[1px] bg-[#475467] "></div>
                        </div>
                        </ng-template>
        
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>
    
            <div class=" flex justify-center">
                <button (click)="closeDialog()" class="font-bold text-base md:text-xl text-[#707070] py-1 md:py-2 px-4 md:px-7 rounded-xl border border-[#9F9999] mr-5">Cancel</button>
                <button class="font-bold text-base md:text-xl text-white py-1 md:py-2 px-4 md:px-7 rounded-xl border border-[#FF7519] bg-[#FF7519]">Upload</button>
            </div>
        </div>
    </div>
</div>