.text_Style.active {
    background-color: #333b48;
    color: #fff;
    border-left: 2px #F9F9F9 solid;
}

.notification-badge {
    background-color: #FF7519;
    color: white;
    font-size: small;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 100%;
    margin-left: 5px;
  }