<div class="w-full min-h-[100vh] bg-[#dddddd5e] py-5 fixed inset-0 ">
    <div class="bg-[#FFFFFF] p-5 md:px-10 m-auto w-[75%] md:w-1/2 rounded-2xl text-[#111827] text-end">
        <button (click)="closeDialog()">
            <i class="fa-regular fa-x text-base md:text-lg bg-[#E2E1E1] border border-[#D1D1D1] w-6 md:w-8 h-6 md:h-8 rounded-md"></i>
        </button>

        <div class="flex space-x-4 font-semibold text-base md:text-xl items-center">
            <img class="bg-[#17253E] p-1 md:p-2 rounded-md" src="../../../assets/images/Frame.png">
            <p>
                {{ mode === 'edit' ? 'Edit' : 'Add New' }} Bounders
            </p>
        </div>

        <div class="rounded-2xl bg-[#F6F6F6] text-start px-4 md:px-6 py-3 md:py-4 my-4 md:my-6">
            <p class="font-semibold text-base md:text-lg text-[#1C1C1E]">Locations</p>
            <p class="font-normal text-xs md:text-sm mt-1 text-[#3A3A3C]">A brief summary of the offer</p>
            <input [(ngModel)]="name" placeholder="Add Place Name" class="w-full rounded-2xl p-2 md:p-4 mt-5 text-sm md:text-base">
            <input [(ngModel)]="address" id="autocomplete" placeholder="Add Location" class="w-full rounded-2xl p-2 md:p-4 mt-5 text-sm md:text-base">
            <div id="map" class="w-full h-[300px] md:h-[400px] rounded-2xl mt-5"></div>
        </div>
        
        <button class="bg-[#17253E] font-bold text-base md:text-xl text-white rounded-2xl py-3 md:py-4 px-4 md:px-7" (click)="EditAndAddLocation()">Save</button>
    </div>
</div>

