<div class="poppins bg-white border border-[#F3F4F6] rounded-[36.7px] w-[501px] p-9 shadow-xl text-center">
    <div class="flex justify-between">
        <div>
            <p class="text-[#111827] font-semibold text-2xl mb-2">Aug 13, 2024</p>
            <p class="text-[#6B7280] font-medium text-lg tracking-wide">Date</p>
        </div>
        <div>
            <p class="text-[#111827] font-semibold text-2xl mb-2">Ahmed Mohamed</p>
            <p class="text-[#6B7280] font-medium text-lg tracking-wide">Employee</p>
        </div>
    </div>

    <button class="font-bold text-2xl bg-[#FF7519] text-white mt-6 w-full py-3 rounded-xl"
    (click)="openDialog()">Clock In</button>
    <!-- <button class="font-bold text-2xl bg-[#D26053] text-white my-6 w-full py-3 rounded-xl">Clock Out</button>

    <div class="flex justify-between items-center">
        <p class="text-[#707070] font-semibold text-2xl">You are Clocked In</p>
        <hr class="text-[#707070] border border-[#707070] w-10 rotate-90 rounded-md">
        <p class="text-[#111827] font-semibold text-2xl">00 : 00 : 30</p>
    </div> -->
</div>  