<div class="bg-[#dddddd5e] w-full fixed inset-0 ">
    <div class="poppins relative p-12 rounder-[16px] m-auto w-1/2 top-10 rounded-md shadow-2xl text-[#111827] bg-white">
        <img class="absolute right-0 top-0 w-[257px]" src="../../../assets/images/logo-orange 1.png">
        <p class="font-semibold text-[32px] mb-8">Clock In</p>
    
        <div class="rounded-xl p-4 flex bg-[#E5E5E580] mb-12">
            <img class="w-[83px] h-[83px] rounded-full mr-6" src="../../../assets/images/Layer 2.png">
            <div>
                <p class="font-semibold text-2xl">Aya Atiya</p>
                <p class="text-lg text-[#6B7280] font-medium">UI/UX Designer</p>
            </div>
        </div>
    
        <div class="flex justify-between mb-8">
            <div>
                <p class="font-medium text-lg text-[#6B7280] border-t-[3px] py-2 border-[#FF7519] inline">Date</p>
                <p class="font-semibold text-2xl py-2">Aug 13, 2024</p>
            </div>
            <div>
                <p class="font-medium text-lg text-[#6B7280] border-t-[3px] py-2 border-[#FF7519] inline">Time</p>
                <p class="font-semibold text-2xl py-2">1:34 PM</p>
            </div>
        </div>
        <p class="font-medium text-lg text-[#6B7280] border-t-[3px] py-2 border-[#FF7519] inline">Location</p>
        <p class="font-semibold text-2xl py-2">42 Abd Al Aziz Agamea, Sidi Gaber, Alexandria Governorate 5433112,Egypt</p>
    
        <div class="mt-8 flex justify-end">
            <button (click)="closeDialog()" class="font-bold text-2xl text-[#707070] py-3 rounded-2xl border border-[#9F9999] w-[153px] mr-5">Cancel</button>
            <button class="font-bold text-2xl text-white py-3 rounded-2xl border border-[#FF7519] w-[153px] bg-[#FF7519]">Clock In</button>
        </div>
    </div>
</div>
