<div>
  <div class="flex justify-between mb-5 items-center">
    <div>
      <p class="text-[#272D37] font-semibold text-2xl md:text-3xl">Employee</p>
      <p class="text-[#5F6D7E] text-xs md:text-base">Created: 22 May, 2020</p>
    </div>
    <div class="flex space-x-4">
      <button class="bg-[#17253E] text-white font-bold text-xs md:text-sm py-2 md:py-3 px-4 md:px-5 rounded-lg"
        (click)="CheckValidate()" aria-label="Save changes">
        Save
      </button>
      <button class="bg-[#17253E] text-white font-bold text-xs md:text-sm py-2 md:py-3 px-4 md:px-5 rounded-lg"
        (click)="Cancel()" aria-label="Cancel changes">
        Cancel
      </button>
    </div>
  </div>

  <div class="border border-[#ECECEC] rounded-lg p-4 md:p-8 shadow-md shadow-[#0000001F]">
    <p class="font-semibold text-sm md:text-lg mb-3">Information's</p>
    <p class="font-normal text-xs md:text-sm">Final property prices</p>

      <div class="mt-5">
        <div class="text-[#3A3A3C] mt-4 flex flex-col md:flex-row md:space-x-8 space-y-3 md:space-y-0">
          <div class="flex-1">
            <div class="mb-4 text-xs md:text-sm">
              <label class="font-semibold block mb-2 md:mb-3">Clock In</label>
              <input type="datetime-local" class="w-full p-2 md:p-4 border border-[#E5E5EA] rounded-xl"
                [(ngModel)]="data.formattedClockIn" placeholder="Enter clock in time" aria-label="Clock In">
            </div>
            <div class="mb-4 text-xs md:text-sm">
              <label class="font-semibold block mb-2 md:mb-3">Clock Out</label>
              <input type="datetime-local" class="w-full p-2 md:p-4 border border-[#E5E5EA] rounded-xl"
                [(ngModel)]="data.formattedClockOut" placeholder="Enter clock out time" aria-label="Clock Out">
            </div>
          </div>
        </div>
      </div>

    <div *ngIf="data.otherClocks.length !== 0;">
      <div *ngFor="let cl of data.otherClocks">
        <div class="mt-5">
          <div class="text-[#3A3A3C] mt-4 flex flex-col md:flex-row md:space-x-8 space-y-3 md:space-y-0">
            <div class="flex-1">
              <div class="mb-4 text-xs md:text-sm">
                <label class="font-semibold block mb-2 md:mb-3">Clock In</label>
                <input type="datetime-local" class="w-full p-2 md:p-4 border border-[#E5E5EA] rounded-xl"
                  [(ngModel)]="cl.formattedClockIn" placeholder="Enter clock in time" >
              </div>
              <div class="mb-4 text-xs md:text-sm">
                <label class="font-semibold block mb-2 md:mb-3">Clock Out</label>
                <input type="datetime-local" class="w-full p-2 md:p-4 border border-[#E5E5EA] rounded-xl"
                  [(ngModel)]="cl.formattedClockIn" placeholder="Enter clock out time" >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
