<div>
    <div class="flex justify-between items-center">
      <div>
        <p class="text-[#272D37] font-semibold text-2xl md:text-3xl">Roles</p>
        <p class="text-[#5F6D7E] text-xs md:text-base">Lorem Ipsum is simply dummy text.</p>
      </div>
      <button class="bg-[#17253E] text-white font-bold text-xs md:text-sm py-2 md:py-3 px-4 md:px-5 rounded-lg"
      (click)="NavigateToAddDepartment()"
      >
        Add
      </button>
    </div>
  
    <div class="mt-5 overflow-x-auto rounded-2xl border border-[#EAECF0]">
      <table class="w-full md:table-fixed table-auto bg-[#FFFFFF] text-left text-[#475467]">
        <thead class="bg-[#F9FAFB] text-sm md:text-base">
          <tr>
            <th class="py-3 px-4 min-w-[120px] whitespace-nowrap">
              Department Name <i class="fa-solid fa-arrow-down mx-2"></i>
            </th>
            <th class="py-3 px-4 min-w-[120px] whitespace-nowrap">
              Manager Name <i class="fa-solid fa-arrow-down mx-2"></i>
            </th>
            <th class="py-3 px-4 min-w-[120px] whitespace-nowrap">
              Actions <i class="fa-solid fa-arrow-down mx-2"></i>
            </th>
          </tr>
        </thead>
        <tbody>
          <!-- No Data Row -->
          <tr *ngIf="departments.length === 0">
            <td colspan="3" class="px-4 py-2 h-[72px] text-center border-t border-gray-300 text-xs md:text-sm">
              No Data Found
            </td>
          </tr>
  
          <!-- Data Rows -->
          <tr *ngFor="let row of departments; let i = index"
              [ngClass]="{'bg-[#F4F4F4]': i % 2 === 0, 'bg-white': i % 2 !== 0}"
              class="border-t border-gray-300 text-xs md:text-sm">
  
            <td class="py-5 px-4">{{ row.name }}</td>
            <td class="py-5 px-4">
              {{ row.name }}
            </td>
  
            <td class="py-5 px-4">
              <div class="px-2">
                <button >
                  <i class="fas fa-edit text-[#101828] w-3 md:w-4"></i>
                </button>
                <button (click)="deleteDepartment(row.id)">
                  <i class="fa fa-trash text-[#CC161D] ml-2 w-3 md:w-4"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  