<div class="lg:hidden flex justify-end relative z-50">
    <div class="lg:hidden block cursor-pointer pt-5 pr-7"  (click)="OpenMenu()">
        <div class="h-1 w-7 md:h-[6px] md:w-10 mb-1 bg-[#454950] rounded"></div>
        <div class="h-1 w-7 md:h-[6px] md:w-10 mb-1 bg-[#454950] rounded"></div>
        <div class="h-1 w-7 md:h-[6px] md:w-10 bg-[#454950] rounded"></div>
    </div>
    <div [ngClass]="{'absolute top-12 right-0 block h-[100vh] w-full md:w-[50%]': isMenuOpen, 'hidden': !isMenuOpen}">
        <app-side-bar [menuItems]="menuItems" [closeMenu]="closeMenu.bind(this)"></app-side-bar>
    </div>
</div>
<div class="flex min-h-[100vh]">
    <div class="w-1/5 hidden lg:block">
        <app-side-bar [menuItems]="menuItems" [closeMenu]="closeMenu.bind(this)" ></app-side-bar>
    </div>
    
    <div class="lg:w-4/5 w-full py-5 px-6">
         <router-outlet></router-outlet>
    </div>
</div>

