<!-- <div class="rounded-xl border">
  <div class="border-b py-4 px-5">
    <p class="text-base font-medium">Pyramakerz Employee Per Months</p>
  </div>
  
  <div class="flex flex-wrap items-end justify-between space-x-3 max-h-[300px] overflow-y-auto py-4 px-5">
    <div
      *ngFor="let segment of normalizedSegments"
      class="flex flex-col items-center flex-[1_0_20%] lg:flex-1"
    >
      <div
        class="mb-1 w-full"
        [ngStyle]="{ height: segment.normalizedValue + 'px', backgroundColor: segment.color }"
      ></div>
      <p class="bar-value text-center text-sm">{{ segment.value }}</p>
      <p class="bar-label text-center text-sm">{{ segment.label }}</p>
    </div>
  </div>
</div> -->

<div class="rounded-xl border">
  <div class="border-b py-4 px-5">
    <p class="text-base font-medium">Pyramakerz Employee Per Months</p>
  </div>
  <div class="mt-5 mx-2 text-center">
    <canvas id="EmployeesPerMonth" >{{ chart }}</canvas>
  </div>
</div>