<div>
    <h1 class="font-medium text-2xl text-center">Users Dashboard</h1>

    <div class="mx-auto my-10">
        <div class="overflow-x-auto shadow-xl rounded-xl">
            <table class="min-w-full bg-white border">
                <thead>
                    <tr class="bg-gray-200">
                        <th class="px-4 py-2 text-left text-gray-700">ID</th>
                        <th class="px-4 py-2 text-left text-gray-700">Name</th>
                        <th class="px-4 py-2 text-left text-gray-700">Email</th>
                        <th class="px-4 py-2 text-left text-gray-700">Phone</th>
                        <th class="px-4 py-2 text-left text-gray-700">Phone Contact</th>
                        <th class="px-4 py-2 text-left text-gray-700">Role ID</th>
                        <th class="px-4 py-2 text-left text-gray-700">Role Name</th>
                        <th class="px-4 py-2 text-left text-gray-700">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="border-t border-gray-300" *ngFor="let user of users; let index = index">
                        <td class="px-4 py-2">{{user.id || '-'}}</td>
                        <td class="px-4 py-2">{{user.name || '-'}}</td>
                        <td class="px-4 py-2">{{user.email || '-'}}</td>
                        <td class="px-4 py-2">{{user.phone || '-'}}</td>
                        <td class="px-4 py-2">{{user.contact_phone || '-'}}</td>
                        <td class="px-4 py-2">
                            <ul>
                                <li *ngFor="let role of user.Role; let i = index">
                                    {{ role.id }}
                                </li>
                                <li *ngIf="user.Role.length === 0">-</li>
                            </ul>
                        </td>
                        <td class="px-4 py-2">
                            <ul>
                                <li *ngFor="let role of user.Role; let i = index">
                                    {{ role.name }}
                                </li>
                                <li *ngIf="user.Role.length === 0">-</li>
                            </ul>
                        </td>
                        <td>
                            <button class="w-20 p-2 bg-[#5185f7] text-white rounded-md text-center mr-3 my-3">Edit</button>
                            <button class="w-20 p-2 bg-[#d85656] text-white rounded-md text-center my-3" (click)="DeleteUser(user.id)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>  

    <div class="text-end">
        <button class="w-20 p-3 bg-[#2a974f] text-white rounded-md text-center">Add</button>
    </div>
</div>