<div class="flex min-h-[100vh]">
    <div class="w-1/5 hidden lg:block">
        <app-side-bar [menuItems]="menuItems" ></app-side-bar>
    </div>
    <div class="lg:w-4/5 w-full py-5 px-6">
        <!-- <div class="relative">
            <div class="flex items-center justify-between">
                <div>
                    <p class="text-[#272D37] font-semibold text-2xl md:text-3xl mb-2">Dashboard</p>
                    <p class="text-[#5F6D7E] text-xs md:text-base">Created: 22 May, 2020</p>
                </div>
                <div class="lg:hidden block cursor-pointer"  (click)="OpenMenu()">
                    <div class="h-1 w-7 md:h-[6px] md:w-10 mb-1 bg-[#454950] rounded"></div>
                    <div class="h-1 w-7 md:h-[6px] md:w-10 mb-1 bg-[#454950] rounded"></div>
                    <div class="h-1 w-7 md:h-[6px] md:w-10 bg-[#454950] rounded"></div>
                </div>
            </div>
            
            <div [ngClass]="{'absolute right-0 block h-[100vh] w-full md:w-[50%]': isMenuOpen, 'hidden': !isMenuOpen}">
                <app-side-bar></app-side-bar>
            </div>
        </div> -->

        <!-- <div class="my-6">
            <app-clock-in></app-clock-in>
        </div>
        
        <app-table></app-table> -->

         <router-outlet></router-outlet>
    </div>
</div>

