<div (click)="resetfilteredUsers()">
  <div class="flex flex-col md:flex-row justify-between md:items-center space-y-3 md:space-y-0">
    <div>
      <p class="text-[#272D37] font-semibold text-2xl md:text-3xl">Employee</p>
    </div>
    <div class="flex space-x-6 items-center justify-between md:justify-normal">
      <a href="../../../../assets/links/ImportEmployeeTemplate.xlsx" 
      class="border border-[#17253E] text-[#17253E] font-medium text-xs md:text-sm py-2 md:py-3 px-4 md:px-5 rounded-lg"
      download>Download Excel Template</a>
      <button (click)="OpenImportPopUp()"
        class="border border-[#FF7519] text-[#FF7519] font-medium text-xs md:text-sm py-2 md:py-3 px-4 md:px-5 rounded-lg">
        Import Employee
      </button>
      <button (click)="NavigateToAddEmployee()"
        class="bg-[#17253E] text-white font-medium text-xs md:text-sm py-2 md:py-3 px-4 md:px-5 rounded-lg">
        Add
      </button>
    </div>
  </div>

  <div
    class="mt-5 rounded-[8px] border border-[#D0D5DD] bg-[#FFFFFF] px-2 md:px-4 py-1 md:py-3 space-x-2 flex items-center relative">
    <i class="fa-solid fa-search text-[#667085] w-[16.02px] h-[16.02px]" (click)="Search()"></i>
    <input type="text" [(ngModel)]="selectedName" (input)="filterByName()" (keydown.enter)="Search()"
      placeholder="Enter Employee Name..."
      class="outline-none border-none placeholder-[#667085] bg-transparent text-sm md:text-base w-full" />

    <div *ngIf="filteredUsers.length > 0"
      class="absolute top-full left-0 w-full bg-white border border-gray-200 rounded-md shadow-lg z-10 max-h-60 overflow-y-auto">
      <ul>
        <li *ngFor="let user of filteredUsers" (click)="selectUser(user)"
          class="px-4 py-2 cursor-pointer hover:bg-gray-200">
          {{ user }}
        </li>
      </ul>
    </div>
  </div>


  <div class="mt-5 overflow-x-auto rounded-2xl border border-[#EAECF0]">
    <table class="w-full table-auto bg-[#FFFFFF] text-left text-[#475467]">
      <thead class="bg-[#F9FAFB] text-sm md:text-base">
        <tr>
          <th class="py-3 px-4 min-w-[120px] whitespace-nowrap">
            Name <i class="fa-solid fa-arrow-down mx-2"></i>
          </th>
          <th class="py-3 px-4 min-w-[120px] whitespace-nowrap">
            Code <i class="fa-solid fa-arrow-down mx-2"></i>
          </th>
          <th class="py-3 px-4 min-w-[120px] whitespace-nowrap">
            Department <i class="fa-solid fa-arrow-down mx-2"></i>
          </th>
          <th class="py-3 px-4 min-w-[120px] whitespace-nowrap">
            Position <i class="fa-solid fa-arrow-down mx-2"></i>
          </th>
          <th class="py-3 px-4 min-w-[120px] whitespace-nowrap">
            Phone <i class="fa-solid fa-arrow-down mx-2"></i>
          </th>
          <th class="py-3 px-4 min-w-[120px] max-w-[150px] whitespace-nowrap overflow-hidden truncate text-ellipsis">
            Email <i class="fa-solid fa-arrow-down mx-2"></i>
          </th>
          <th class="py-3 px-4 min-w-[120px] whitespace-nowrap">
            User Name <i class="fa-solid fa-arrow-down mx-2"></i>
          </th>
          <th class="py-3 px-4 min-w-[120px] whitespace-nowrap">
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        <!-- No Data Row -->
        <tr *ngIf="tableData.length === 0">
          <td colspan="8" class="px-4 py-2 h-[72px] text-center border-t border-gray-300 text-xs md:text-sm">
            No Data Found
          </td>
        </tr>

        <!-- Data Rows -->
        <tr *ngFor="let row of tableData; let i = index"
          [ngClass]="{'bg-[#F4F4F4]': i % 2 === 0, 'bg-white': i % 2 !== 0}"
          class="border-t border-gray-300 text-xs md:text-sm">

          <td class="py-5 px-4"><button (click)="NavigateToEmployeeDetails(row.id)">{{ row.name }}</button></td>
          <td class="py-5 px-4">{{ row.code }}</td>
          <td class="py-5 px-4">
            <div class="text-center w-[80%] rounded-lg border border-[#D0D5DD] py-2 text-[#FFFFFF] " [ngClass]="{
                  'bg-[#1B5724]': row.department === 'Software',
                  'bg-[#63233C]': row.department === 'Academic',
                  'bg-[#57571B]': row.department !== 'Software' && row.department !== 'Academic'

                }">
              {{ row.department }}
            </div>
          </td>
          <td class="py-5 px-4">{{ row.position }}</td>
          <td class="py-5 px-4">{{ row.phone }}</td>
          <td class="py-5 px-4">{{ row.email }}</td>
          <td class="py-5 px-4">{{ row.name }}</td>
          <td class="py-5 px-4">
            <div class="px-2">
              <button (click)="NavigateToEditEmployee(row.id)">
                <i class="fas fa-edit text-[#101828] w-3 md:w-4"></i>
              </button>
              <button (click)="DeleteEmp(row.id)">
                <i class="fa fa-trash text-[#CC161D] ml-2 w-3 md:w-4"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="mt-5 flex justify-between items-center" *ngIf="DisplayPagginationOrNot ">
    <!-- Previous Button -->
    <button
      class="h-[44px] md:w-[119px] rounded-[8px] border border-[#D0D5DD] bg-[#FFFFFF] px-[16px] py-[12px] md:gap-[8px] flex items-center"
      [ngClass]="{'disabled': CurrentPageNumber === 1, 'opacity-50 cursor-not-allowed': CurrentPageNumber === 1}"
      [disabled]="CurrentPageNumber === 1" (click)="getPrevPage()">
      <i class="fa-solid fa-arrow-left"></i> <p class="hidden md:flex">Previous</p>
    </button>

    <div class="flex justify-center items-center space-x-2 md:space-x-4">
      <button *ngIf="CurrentPageNumber-1>0"
        class="border border-[#D0D5DD] h-[40px] md:h-[50px] w-[40px] md:w-[50px] rounded-xl bg-[#FFFFFF]"
        (click)="getAllEmployees(CurrentPageNumber-1)">
        {{ CurrentPageNumber-1 }}
      </button>
      <button 
        class="border border-[#D0D5DD] h-[40px] md:h-[50px] w-[40px] md:w-[50px] rounded-xl bg-[#D0D5DD]"
        *ngIf="CurrentPageNumber<PagesNumber"
        (click)="getAllEmployees(CurrentPageNumber)">
        {{ CurrentPageNumber }}
      </button>
      <span *ngIf="PagesNumber>1" class="text-gray-800 text-sm md:text-base font-semibold">...</span>
      <button class="border border-[#D0D5DD] h-[40px] md:h-[50px] w-[40px] md:w-[50px] rounded-xl bg-[#FFFFFF]"
      [ngClass]="{ 'selectedPage': CurrentPageNumber === PagesNumber }"
        (click)="getAllEmployees(PagesNumber)">
        {{ PagesNumber }}
      </button>
    </div>
    
    <!-- Next Button -->
    <button
      class="h-[44px] md:w-[92px] rounded-[8px] border border-[#D0D5DD] bg-[#FFFFFF] px-[16px] py-[12px] md:gap-[8px] flex items-center"
      [ngClass]="{'disabled': CurrentPageNumber === PagesNumber, 'opacity-50 cursor-not-allowed': CurrentPageNumber === PagesNumber}"
      [disabled]="CurrentPageNumber === PagesNumber" (click)="getNextPage()">
      <p class="hidden md:flex">Next</p> <i class="fa-solid fa-arrow-right"></i>
    </button>
  </div>  
</div>