<div>
    <div class="flex flex-col md:flex-row justify-between md:items-center">
        <div>
            <p class="text-[#272D37] font-semibold text-2xl md:text-3xl capitalize">{{employee.name}}</p>
            <p class="text-[#5F6D7E] text-xs md:text-base">{{employee.emp_type}}</p>
        </div>
        <div class="flex space-x-3 justify-between mt-3 md:mt-0">
            <button (click)="openDialog()"
                class="bg-[#17253E] text-white font-medium text-xs md:text-sm py-2 md:py-3 px-4 md:px-5 rounded-lg">Add
                Clock In</button>
            <button (click)="ExportData()"
                class="border border-[#FF7519] text-[#FF7519] font-medium text-xs md:text-sm py-2 md:py-3 px-4 md:px-5 rounded-lg">
                Export
            </button>
        </div>
    </div>

    <div class="flex items-center space-x-4">
        <div
            class="w-full my-5 rounded-[8px] border border-[#D0D5DD] bg-[#FFFFFF] px-2 md:px-4 py-1 md:py-3 space-x-2 flex items-center">
            <i class="fa-solid fa-search text-[#667085] w-[16.02px] h-[16.02px]" (click)="searchByDate()"></i>
            <input type="date" placeholder="Enter Date..." (change)="searchByDate()"
                class="outline-none border-none placeholder-[#667085] bg-transparent text-sm md:text-base w-full"
                [(ngModel)]="SelectedDate" />
        </div>
        <button class="w-8 md:w-9 h-7 md:h-9 bg-[#FF7519] rounded-full p-1 md:p-2" *ngIf="isDateSelected"><i
                class="fi fi-bs-undo text-white test-xs md:text-base" (click)="ClearSearch()"></i></button>
    </div>

    <div class="flex items-center justify-end mb-4 space-x-3">
        <div>
            <select class="p-2 border rounded w-full" [(ngModel)]="selectedMonth" (change)="onMonthChange($event)">
                <option *ngFor="let month of months" [value]="month.value">{{ month.name }}</option>
            </select>
        </div>

        <div>
            <select class="p-2 border rounded w-full" [(ngModel)]="selectedYear" (change)="onYearChange($event)">
                <option *ngFor="let year of years" [value]="year">{{ year }}</option>
            </select>
        </div>
    </div>

    <div class="flex justify-between mb-2 items-center">
        <p class="text-[#272D37] font-semibold text-2xl md:text-3xl">{{ getFormattedMonthYear() }}</p>
        <div class="flex space-x-2 md:space-x-4">
            <button class="h-9 md:h-11 rounded-[8px] border border-[#D0D5DD] bg-[#FFFFFF] px-4 py-3 flex items-center"
                [ngClass]="{'hidden': CurrentPageNumber === 1, 'opacity-50 cursor-not-allowed': CurrentPageNumber === 1}"
                [disabled]="CurrentPageNumber === 1" (click)="getPrevPage()">
                <i class="fa-solid fa-arrow-left"></i>Previous
            </button>
            <button class="h-9 md:h-11 rounded-[8px] border border-[#D0D5DD] bg-[#FFFFFF] px-4 py-3 flex items-center"
                [ngClass]="{'hidden': CurrentPageNumber === PagesNumber, 'opacity-50 cursor-not-allowed': CurrentPageNumber === PagesNumber}"
                [disabled]="CurrentPageNumber === PagesNumber" (click)="getNextPage()">
                Next<i class="fa-solid fa-arrow-right"></i>
            </button>
        </div>
    </div>

    <div class="mt-5 overflow-x-auto rounded-2xl border border-[#EAECF0]">
        <table class="overflow-auto bg-[#FFFFFF] text-center text-[#475467] w-full">
            <thead class="bg-[#F9FAFB]">
                <tr>
                    <th class="py-3 w-1/12 min-w-[120px] whitespace-nowrap">
                        Day <i class="fa-solid fa-arrow-down mr-2"></i>
                    </th>
                    <th class="py-3 min-w-[120px] whitespace-nowrap">
                        Date <i class="fa-solid fa-arrow-down mr-2"></i>
                    </th>
                    <th class="py-3 min-w-[120px] whitespace-nowrap">
                        Clock In <i class="fa-solid fa-arrow-down mr-2"></i>
                    </th>
                    <th class="py-3 min-w-[120px] whitespace-nowrap">
                        Clock Out <i class="fa-solid fa-arrow-down mr-2"></i>
                    </th>
                    <th class="py-3 min-w-[120px] whitespace-nowrap">
                        Total Hours <i class="fa-solid fa-arrow-down mr-2"></i>
                    </th>
                    <th
                        class="py-3 min-w-[120px] max-w-[150px] whitespace-nowrap overflow-hidden truncate text-ellipsis">
                        Location In <i class="fa-solid fa-arrow-down mr-2"></i>
                    </th>
                    <th
                        class="py-3 min-w-[120px] max-w-[150px] whitespace-nowrap overflow-hidden truncate text-ellipsis">
                        Location Out <i class="fa-solid fa-arrow-down mr-2"></i>
                    </th>
                    <th
                        class="py-3 min-w-[120px] max-w-[150px] whitespace-nowrap overflow-hidden truncate text-ellipsis">
                        Site <i class="fa-solid fa-arrow-down mr-2"></i>
                    </th>
                    <th class="py-3 min-w-[120px] max-w-[150px] whitespace-nowrap">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                <!-- No Data Row -->
                <tr *ngIf="tableData.length === 0">
                    <td colspan="9" class="px-4 py-2 h-[72px] text-center border-t border-gray-300">
                        No Data Found
                    </td>
                </tr>

                <!-- Data Rows -->
                <tr *ngFor="let row of tableData; let i = index"
                    [ngClass]="{'bg-[#F4F4F4]': i % 2 === 0, 'bg-white': i % 2 !== 0}" class="border-t border-gray-300">
                    <td class="py-5">
                        <i *ngIf="row.otherClocks.length > 0" class="fa-solid fa-chevron-down ml-1"
                            (click)="toggleOtherClocks(i)"></i>
                        {{ row.Day }}
                    </td>
                    <td>{{ row.Date }}</td>




                    <td>
                        <div>
                            <div
                                class="text-center w-[97px] rounded-[10px] border border-[#D0D5DD] bg-[#FFFFFF] py-[8px] m-auto">
                                {{ convertUTCToEgyptLocalTime(row.clockIn) }}
                            </div>
                        </div>

                        <div *ngIf="showOtherClocks && i==rowNumber" class="flex flex-col mt-1 space-y-1 items-center">
                            <div *ngFor="let cl of row.otherClocks; let j = index"
                                class=" text-center w-[97px] rounded-[10px] border border-[#D0D5DD] bg-[#FFFFFF] py-[8px]">
                                {{ convertUTCToEgyptLocalTime(cl.clockIn)}}
                            </div>
                        </div>
                    </td>


                    <td>
                        <div class="flex justify-center">
                            <div *ngIf="row.clockOut; else emptyState"
                                class="text-center w-[97px] rounded-[10px] border border-[#D0D5DD] bg-[#FFFFFF] py-[8px] m-auto">
                                {{ convertUTCToEgyptLocalTime(row.clockOut) }}
                            </div>
                            <ng-template #emptyState>
                                <div
                                    class="w-[97px] h-[36px] rounded-[10px] border border-[#D0D5DD] bg-[#FFFFFF] px-[16px] py-[8px] flex items-center justify-center">
                                    <div class="w-[50px] h-[1px] bg-[#475467]"></div>
                                </div>
                            </ng-template>
                        </div>
                        <div *ngIf="showOtherClocks && i==rowNumber" class="flex flex-col mt-1 space-y-1 items-center">
                            <div *ngFor="let cl of row.otherClocks; let j = index">
                                <ng-container *ngIf="cl.clockOut; else emptyClockState">
                                    <div
                                        class="text-center w-[97px] rounded-[10px] border border-[#D0D5DD] bg-[#FFFFFF] py-[8px]">
                                        {{ convertUTCToEgyptLocalTime(cl.clockOut) }}
                                    </div>
                                </ng-container>
                                <ng-template #emptyClockState>
                                    <div
                                        class="w-[97px] h-[36px] rounded-[10px] border border-[#D0D5DD] bg-[#FFFFFF] px-[16px] py-[8px] flex items-center justify-center">
                                        <div class="w-[50px] h-[1px] bg-[#475467]"></div>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </td>

                    <td>{{ row.totalHours }}</td>

                    <td class="min-w-[120px] lg:max-w-[150px] overflow-hidden">
                        <div *ngIf="row.locationIn; else emptyLocation">
                            <div class="truncate" title="{{ row.locationIn }}">
                                {{ row.locationIn }}
                            </div>
                        </div>
                        <ng-template #emptyLocation>
                            <div class="flex justify-center">
                                <div class="w-[90%] h-[1px] bg-[#475467]"></div>
                            </div>
                        </ng-template>
                    </td>

                    <td class="min-w-[120px] lg:max-w-[150px] overflow-hidden">
                        <div *ngIf="row.locationOut; else emptyLocation">
                            <div class="truncate" title="{{ row.locationOut }}">
                                {{ row.locationOut }}
                            </div>
                        </div>

                        <ng-template #emptyLocation>
                            <div class="flex justify-center">
                                <div class="w-[90%] h-[1px] bg-[#475467]"></div>
                            </div>
                        </ng-template>
                    </td>

                    <td>
                        <div>
                            <div
                                class="text-center w-[97px] rounded-[10px] border border-[#D0D5DD] bg-[#FFFFFF] py-[8px] m-auto">
                                {{ row.site }}
                            </div>
                        </div>
                        <div *ngIf="showOtherClocks" class="flex flex-col mt-1 space-y-1 items-center">
                            <div *ngFor="let cl of row.otherClocks; let j = index"
                                class=" text-center w-[97px] rounded-[10px] border border-[#D0D5DD] bg-[#FFFFFF] py-[8px]">
                                <p *ngIf="cl.clockOut">{{cl.site}}</p>
                            </div>
                        </div>
                    </td>



                    <td class="py-5 px-4">
                        <div class="px-2">
                            <button (click)="EditUserClock(row)">
                                <i class="fas fa-edit text-[#101828] w-3 md:w-4"></i>
                            </button>
                        </div>
                        <div *ngIf="showOtherClocks" class="flex flex-col mt-1 space-y-1 items-center">
                            <div *ngFor="let cl of row.otherClocks; let j = index"
                                class=" text-center w-[97px]  py-[8px]">
                                <button (click)="EditUserClock(cl)">
                                    <i class="fas fa-edit text-[#101828] w-3 md:w-4"></i>
                                </button>
                            </div>
                        </div>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
    <div class="mt-5 md:flex justify-between items-center" *ngIf="DisplayPagginationOrNot">
        <!-- Previous Button -->
        <button
            class="h-[44px] w-[119px] rounded-[8px] border border-[#D0D5DD] bg-[#FFFFFF] px-[16px] py-[12px] gap-[8px] md:flex items-center"
            [ngClass]="{'hidden': CurrentPageNumber === 1, 'opacity-50 cursor-not-allowed': CurrentPageNumber === 1}"
            [disabled]="CurrentPageNumber === 1" (click)="getPrevPage()">
            <i class="fa-solid fa-arrow-left"></i> Previous
        </button>

        <!-- Pagination Buttons -->
        <div class="flex justify-center items-center space-x-5 md:block">
            <button *ngFor="let page of pages" class="h-[40px] md:h-[50px] w-[40px] md:w-[50px] rounded-xl bg-[#FFFFFF]"
                [ngClass]="{'border border-[#D0D5DD]': page === CurrentPageNumber}" (click)="getAllClocks(page)">
                {{ page }}
            </button>
        </div>

        <!-- Next Button -->
        <button
            class="h-[44px] w-[92px] rounded-[8px] border border-[#D0D5DD] bg-[#FFFFFF] px-[16px] py-[12px] gap-[8px] md:flex items-center"
            [ngClass]="{'hidden': CurrentPageNumber === PagesNumber, 'opacity-50 cursor-not-allowed': CurrentPageNumber === PagesNumber}"
            [disabled]="CurrentPageNumber === PagesNumber" (click)="getNextPage()">
            Next <i class="fa-solid fa-arrow-right"></i>
        </button>
    </div>
</div>